.container {
    display: flex;
    flex-wrap: wrap;
    height: 480px;
    width: 480px;
}
.grid-square {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    box-sizing: border-box;
    opacity: 0;
}